// colors 
$white-color: #fff;
$black-color: #000;
$red-color: #af1f1f;
$dark-red-color: #892525;

// fonts

@font-face {
  font-family: futura_maxi_bold;
  src: url(fonts/futura_maxi_bold.otf);
}

@font-face {
  font-family: futura_maxi_book;
  src: url(fonts/futura_maxi_book.otf);
}


// font-sizes 
$heading: 72px;
$sub-heading: 30px;
$regular-text: 30px;

h1 {
  font-family: 'futura_maxi_bold', sans-serif;
  font-size: $heading;
  letter-spacing: 2px;
  color: $red-color;
}

p {
  font-family: 'futura_maxi_book';
  font-size: $regular-text;
}

