@font-face {
  font-family: futura_maxi_bold;
  src: url(fonts/futura_maxi_bold.otf); }

@font-face {
  font-family: futura_maxi_book;
  src: url(fonts/futura_maxi_book.otf); }

h1 {
  font-family: 'futura_maxi_bold', sans-serif;
  font-size: 90px;
  letter-spacing: 2px;
  color: #af1f1f;
  margin: 0; }

p {
  font-family: 'futura_maxi_book';
  font-size: 20px; }

.logo img {
  width: 60px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px; }

.hero {
  position: relative;
  margin-left: 50px;
  margin-right: 50px; }

.hero img {
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh; }

.hero-text {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; }

.hero-text h1, .hero-text h2 {
  animation: fadein 3s forwards;
  -moz-animation: fadein 3s forwards;
  /* Firefox */
  -webkit-animation: fadein 3s forwards;
  /* Safari and Chrome */
  -o-animation: fadein 3s forwards;
  /* Opera */
  opacity: 0; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hero-text h1, .hero-text h2, h3 {
  font-family: 'futura_maxi_bold', sans-serif;
  font-size: 90px;
  letter-spacing: 2px;
  color: #fff;
  margin: 0;
  letter-spacing: 4px; }

h3 {
  color: #000;
  font-size: 70px;
  line-height: 80px; }

.hero-text h2 {
  margin-top: 30px; }

.button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%); }

.button a {
  border: 1.5px solid #fff;
  padding: 28px 34px;
  border-radius: 40px;
  font-family: 'futura_maxi_book';
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #fff;
  cursor: pointer;
  transition: all .1s ease-in;
  animation: fadein 6s forwards;
  -moz-animation: fadein 6s forwards;
  /* Firefox */
  -webkit-animation: fadein 6s forwards;
  /* Safari and Chrome */
  -o-animation: fadein 6s forwards;
  /* Opera */
  opacity: 0; }

.button a:hover {
  background-color: rgba(175, 31, 31, 0.7); }

.fp-text {
  padding: 50px;
  width: 75%;
  clear: both; }

.fp-text p {
  margin-top: 35px; }

.divid-row {
  margin: 50px; }

.greyscale {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.opacity:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
  top: 0;
  left: 0; }

.img-holder-left, .img-holder-right {
  display: inline-block;
  width: 50%;
  margin: 0; }

.img-holder-right img, .img-holder-left img {
  width: 100%;
  height: 550px; }

.img-holder-right, .img-holder-left {
  position: relative;
  max-height: 550px; }

h4 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 110px;
  margin: 0;
  z-index: 2;
  letter-spacing: 5px; }

.red {
  color: #af1f1f; }
