@font-face {
  font-family: futura_maxi_bold;
  src: url(fonts/futura_maxi_bold.otf); }

@font-face {
  font-family: futura_maxi_book;
  src: url(fonts/futura_maxi_book.otf); }

h1 {
  font-family: 'futura_maxi_bold', sans-serif;
  font-size: 72px;
  letter-spacing: 2px;
  color: #af1f1f; }

p {
  font-family: 'futura_maxi_book';
  font-size: 30px; }
