// colors
$white-color: #fff;
$black-color: #000;
$red-color: #af1f1f;
$dark-red-color: #892525;

// fonts

@font-face {
  font-family: futura_maxi_bold;
  src: url(fonts/futura_maxi_bold.otf);
}

@font-face {
  font-family: futura_maxi_book;
  src: url(fonts/futura_maxi_book.otf);
}

// font-sizes
$big-heading: 110px;
$heading: 75px;
$sub-heading: 70px;
$regular-text: 20px;

h1 {
  font-family: "futura_maxi_bold", sans-serif;
  font-size: $heading;
  letter-spacing: 2px;
  color: $red-color;
  margin: 0;
}

p {
  font-family: "futura_maxi_book", sans-serif;
  font-size: $regular-text;
  margin: 0;
  line-height: 24px;
}

.logo img {
  width: 60px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.hero {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

.hero img {
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
}

.hero-text {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.hero-text h1,
.hero-text h2,
h3 {
  font-family: "futura_maxi_bold", sans-serif;
  font-size: $heading;
  letter-spacing: 2px;
  color: $white-color;
  margin: 0;
}

h3 {
  color: $black-color;
  font-size: $sub-heading;
  line-height: 80px;
}

.hero-text h2 {
  margin-top: 30px;
}

.button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.button a {
  border: 1.5px solid $white-color;
  padding: 28px 34px;
  border-radius: 40px;
  font-family: "futura_maxi_book";
  font-size: 14px;
  letter-spacing: 1.5px;
  color: $white-color;
  cursor: pointer;
  transition: all 0.1s ease-in;
  // animation: fadein 6s forwards;
  // -moz-animation: fadein 6s forwards; /* Firefox */
  // -webkit-animation: fadein 6s forwards; /* Safari and Chrome */
  // -o-animation: fadein 6s forwards; /* Opera */
  // opacity: 0;
}

.red-button a {
  color: $red-color;
  border: 1.5px solid $red-color;
}

.red-button {
  margin-bottom: 100px;
  margin-top: 50px;
}

.button a:hover {
  background-color: $white-color;
  color: $dark-red-color;
}

.red-button a:hover {
  color: $white-color;
  background-color: rgb(175, 31, 31);
}

.fp-text {
  padding: 70px 50px;
  width: 75%;
  clear: both;
}

.fp-text p {
  margin-top: 35px;
}

.divid-row {
  margin: 50px;
}

.greyscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.opacity:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $black-color;
  opacity: 0.3;
  z-index: 1;
  top: 0;
  left: 0;
}

.img-holder-left,
.img-holder-right {
  display: inline-block;
  width: 50%;
  margin: 0;
}

.img-holder-right img,
.img-holder-left img {
  width: 100%;
  height: 550px;
}

.img-holder-right,
.img-holder-left {
  position: relative;
  max-height: 550px;
}

h4 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: $white-color;
  font-size: $big-heading;
  margin: 0;
  z-index: 2;
  letter-spacing: 5px;
}

.red {
  color: $red-color;
}

.button-container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

footer {
  height: 200px;
  background-color: $dark-red-color;
}

// RECENT SONGS

// .recentsongs {
//   background-color: $black-color;
// }

.fa-user {
  color: white;
  float: right;
  font-size: 24px !important;
  margin-top: 30px;
  margin-right: 15px;
}

.user {
  float: right;
  padding-right: 38px;
  padding-top: 35px;
  font-size: 17px;
}

.arrow-container {
  text-align: center;
}

i.fa.fa-angle-down.white-text {
  font-size: 40px;
}
.recentSongsContainer {
  // background: linear-gradient(1deg, #000 0%, #333 100%);
  height: 100vh;
  width: 100%;
  min-height: 800px;
  background-color: #000;
}

.white-text {
  color: $white-color;
  margin: 0;
}

.recent-left,
.recent-right {
  display: inline-block;
  width: 50%;
  margin: 0;
  position: relative;
}

.recent-container {
  margin-bottom: 20px;
  position: relative;
}

.inline-block {
  display: inline-block;
}

.recent-container img {
  height: 110px;
  margin-right: 20px;
}

.recent-row {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 82px;
}
.recent-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.recent-song-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.artistname {
  padding-top: 5px;
  padding-bottom: 5px;
}

// Top artists

.artist-container-row {
  display: inline-block;
}

.artist-img-container-big {
  position: relative;
  display: inline-block;
  width: 365px;
  overflow: hidden;
  margin-right: 70px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 350px;
}

.artist-img-container-big:last-child {
  margin-right: 0;
}

// .artist-img-container-big {
//   width: 400px;
//   overflow: hidden;

// }
.artist-img-big {
  height: 350px;
  overflow: hidden;
  min-width: 365px;
}

.artist-text-big {
  position: absolute;
  color: $white-color;
  bottom: 20px;
  z-index: 1337;
  margin-left: 25px;
  font-family: "futura_maxi_bold", sans-serif;
}

.artist-container {
  background: linear-gradient(90deg, #ff8f7a 0%, #fd4928 100%);
  padding: 100px 100px;
}

.artist-heading-container h2 {
  font-family: "futura_maxi_bold", sans-serif;
  font-size: $sub-heading;
  letter-spacing: 3px;
}

.artist-heading-container {
  margin-bottom: 100px;
}

.other-popular-artists-container,
  {
  display: inline-block;
  width: 50%;
}

.artists-list-container {
  margin-top: 110px;
}

.least-popular-artists-container {
  display: inline-block;
  width: 50%;
}

.artist-small-background {
  width: 475px;
  height: 110px;
  background-color: rgba(137, 37, 37, 0.5);
  margin: 0 auto;
}

.other-popular-container {
  margin-bottom: 45px;
  position: relative;
}

.other-popular-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 310px;
}

.artist-img {
  height: 100px;
  min-width: 100px;
}

.artist-img-container {
  height: 100px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  margin-top: -15px;
  margin-left: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #c4574b;
  transition: all 0.2s ease-in-out;
}

.artist-img-container:hover {
  transition: all 0.2s ease-in-out;
}

.artist-img-container-songs {
  background-color: $dark-red-color !important;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes btnscroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.animate-top {
  position: relative;
  animation: animatetop 1.2s;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 1.2s;
}

.btn-scroll {
  position: relative;
  animation: btnscroll ease 2.5s infinite;
}

.playbtn {
  background-image: url("./img/playbtn.png");
  height: 100px;
  background-size: 40px;
  background-repeat: no-repeat;
  display: none;
  background-position: center;
}

.artist-img-container:hover > .playbtn {
  display: block;
}

.fa-play-circle {
  position: absolute;
  color: white;
  font-size: 24px;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  /* transform: translateY(-50%); */
}

i.fa.fa-play-circle {
  display: none;
}

.artist-img-container:before {
  + i.fa.fa-play-circle {
    display: block;
  }
}

// TOP SONGS

.topsong-container {
  background: linear-gradient(90deg, $red-color 0%, $dark-red-color 100%);
  padding: 100px 100px;
}

.songs-small-background {
  width: 475px;
  height: 110px;
  background-color: rgba(56, 9, 9, 0.5);
  margin: 0 auto;
}

// PLAYLIST RENDERER

.playlistrender-container {
  background: linear-gradient(90deg, $white-color 0%, #dbdbdb 100%);
  padding: 100px 100px;
  text-align: center;
}

.playlistrender-heading-container h2 {
  color: $dark-red-color;
  font-family: "futura_maxi_bold", sans-serif;
  font-size: $sub-heading;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 100px;
}

.playlistrenderer-info-container {
  text-align: center;
  margin-bottom: 100px;
}

.playlistrenderer-info-box {
  display: inline-block;
  margin-right: 45px;
  max-width: 350px;
}

.playlist-symbol {
  margin-bottom: 15px;
}

.playlistrenderer-info-box p {
  font-size: 12px;
}

.playlistrenderer-info-box h3 {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 18px;
  margin-bottom: 15px;
}

.playlist-name-input {
  width: 650px;
  margin-right: 25px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-family: "futura_maxi_bold", serif;
  color: #757575;
  line-height: 26px;
}

.playlist-name-input:focus {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  color: $dark-red-color;
}

.create-playlist-here {
  font-size: 22px !important;
}

.playlist-creator-heading {
  font-size: 12px;
  margin-bottom: 20px;
}

.time-selector {
  background-color: transparent;
  border: none;
  font-family: "futura_maxi_book", serif;
  line-height: 24px;
  font-size: 14px;
  margin-right: 15px;
}

.time-selector:focus {
  outline: none;
}

.limit-selector {
  background-color: transparent;
  border: none;
  font-family: "futura_maxi_book", serif;
  line-height: 24px;
  font-size: 14px;
}

.limit-selector:focus {
  outline: none;
}

.playlist-submit-btn {
  border: none;
  border-radius: 20px;
  padding: 13px 33px;
  padding-top: 16px;
  margin-left: 25px;
  line-height: 12px;
  letter-spacing: 1px;
  font-family: "futura_maxi_book", serif;
  background: linear-gradient(90deg, #af1f1f 0%, #892525 100%);
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.playlist-submit-btn:focus {
  outline: none;
}

.playlist-submit-btn:hover {
  background: linear-gradient(90deg, #870f0f 0%, #620606 100%);
}

.submit-playlist {
  text-align: center;
}

.modal-container {
  padding: 50px 100px;
  text-align: center;
}

.modal-heading {
  font-size: 24px;
  font-family: "futura_maxi_bold", serif;
  color: #af1f1f;
  line-height: 28px;
}

.modal-text {
  font-size: 16px;
}

.modal-btn-container {
  text-align: center;
  margin-bottom: 30px;
}

.modal-btn {
  border-radius: 30px;
  padding: 20px 40px;
  padding-top: 20px;
  margin-left: 25px;
  line-height: 12px;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "futura_maxi_book", serif;
  background: linear-gradient(90deg, #af1f1f 0%, #892525 100%);
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 50px;
}

.modal-btn:hover {
  background: linear-gradient(90deg, #870f0f 0%, #620606 100%);
}

//ALL SONGS

.alltop-ul:first-child {
  padding-top: 15px;
}
.alltop-ul:last-child {
  margin-bottom: 0px;
}

.allsongs-li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  color: white;
  font-family: "futura_maxi_book";
  font-size: 14px;
  margin-bottom: 15px;
}

.allsongs-album {
  margin-left: 20px;
}

.alltop-img-cover-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

img.alltop-img-cover {
  height: 50px;
  min-width: 50px;
}

.see-more-text {
  margin-top: 50px;
  text-align: center;
}

.see-more-text a {
  text-decoration: none;
  font-size: 18px;
  font-family: "futura_maxi_bold", sans-serif;
  color: white;
  transition: all 0.2s ease-in-out;
}

.see-more-text a:hover {
  color: #333;
}

i.fa.fa-play-circle-o.playlist-symbol {
  position: absolute;
  font-size: 39px;
  color: white;
  top: 14%;
  left: 22%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
}

.artist-img-container:hover + i.fa.fa-play-circle-o.playlist-symbol {
  opacity: 1;
}

i.fa.fa-play-circle-o.playlist-symbol:hover {
  opacity: 1;
}

// html, body, .app, #root, main {
//   height: 100%;
// }

// .alltopsongs-container {
//   height: 100%;
// }

.alltopsongs-select-container {
  // float:left;
  // width:200px;
  // height:100%;
  // background:red;
}

.alltopsongs-list-container {
  background: linear-gradient(0deg, #000 10%, #333 100%);
  min-height: 4000px;
  padding-bottom: 100px;
}

.alltop-ul {
  padding-left: 0px;
}

.allsongs-li-container {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #c6cad1;
}

.play-btn {
  color: $white-color;
  font-size: 20px !important;
  transition: all 0.2s ease-in-out;
  margin-left: 15px;
}

.play-btn:hover {
  color: $dark-red-color;
}

.timerange-select-container {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 71.5%;
  margin: 0 auto;
}

.timerange-select-container select {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "futura_maxi_book", serif;
  line-height: 24px;
  font-size: 14px;
}

.timerange-select-container select:focus {
  outline: none;
}

.alltop-ul:last-child .allsongs-li-container {
  border-bottom: none;
}

.alltop-playlistrender-container {
  padding-top: 50px;
}

.alltop-playlistrender-container
  .playlist-creator-container
  .submit-playlist
  .inline-block
  .playlist-name-input {
  color: #adaaaa;
  border-bottom: 2px solid #c6cad1;
}

.alltop-playlistrender-container
  .playlist-creator-container
  .submit-playlist
  .inline-block
  .time-selector {
  color: #adaaaa;
}

.alltop-playlistrender-container
  .playlist-creator-container
  .submit-playlist
  .inline-block
  .limit-selector {
  color: #adaaaa;
}

li.inline-block.allsongs-li.allsongs-artist {
  margin-right: 0;
}

.user-playlistrender-container {
  padding-top: 100px;
}

.recentsongs {
  position: relative;
}

.footer-user {
  background-color: #333;
  position: relative;
}

.footer-links-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 30%;
  text-align: center;
}

.footer-link-text a {
  color: $white-color;
  text-decoration: none;
  font-family: "futura_maxi_bold", sans-serif;
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.footer-link-text a:hover {
  color: $black-color;
}

.footer-link-text {
  margin-bottom: 10px;
}

footer {
  position: relative;
}

h2.topsongs-h2-heading {
  margin-top: 15px;
  margin-bottom: 0;
  color: #892525;
  font-family: "futura_maxi_bold";
  text-decoration: underline;
  width: 70.5%;
  margin: 0 auto;
}

.mostplayed-text {
  width: 70.5%;
  margin: 0 auto;
  padding-top: 70px;
  font-size: 14px !important;
}

h2.user-playlist-heading {
  padding-top: 80px;
  font-family: "futura_maxi_bold";
  color: #333;
}


.create-playlist-heading {
  margin-bottom: 100px;
  color: $dark-red-color !important;
}

p.home-connect {
  position: absolute;
  right: 0;
  top: 4.5%;
  margin-right: 50px;;
  font-size: 16px;
  font-family: "futura_maxi_bold";
  cursor: pointer;
  transition: all .2s ease-in-out;
}

p.home-connect:hover {
  color: $dark-red-color;
}

.spotify-link {
  margin-left: 10px;
}